<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.analog_clock">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:label="analog_clock"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Add this section -->
        <receiver android:name="com.dexterous.flutterlocalnotifications.FlutterLocalNotificationsPlugin" android:exported="true"/>
        <!-- -->

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout|density|layoutDirection|fontScale|uiMode|locale|screenDensity|resizeableActivity"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.flutter.embedding.android.SplashScreenDrawable"
            android:resource="@drawable/launch_background"
            />
    </application>
</manifest>
